<%= form_for(@sake) do |f| %>
  <% if @sake.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= @sake.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @sake.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label  "名前" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "産地" %><br>
    <%= f.text_field :place %>
  </div>
  <div>
    <%= f.label  "ラベル登録" %><br>
    <%= f.file_field :image, class: "form-control image-field" %>
  </div>
  <div class="actions">
    <%= f.submit "登録する"%>
  </div>
<% end %>
