<p id="notice"><%= notice %></p>
<%= image_for(@sake)%>
<p>
  <strong>名前:</strong>
  <%= @sake.name %>
</p>

<p>
  <strong>産地:</strong>
  <%= @sake.place %>
</p>


<%= link_to '編集', edit_sake_path(@sake) %>
<%= link_to '削除', @sake, method: :delete, data: { confirm: '本当に削除してもいいですか?' } %>
<%= link_to '一覧へ戻る', sakes_path %>
