<p id="notice"><%= notice %></p>
<%= image_for(@sake)%>
<p>
  <strong>名前:</strong>
  <%= @sake.name %>
</p>

<p>
  <strong>産地:</strong>
  <%= @sake.place %>
</p>
<p>
  <strong>感想</strong></strong>
</p>
<ul class="reviews">
  <% @reviews = Raview.find(:id) %>
  <% @reviews.each do |review| %>
    <li><%= review %></li>
  <% end %>
</ul>

<%= link_to '一覧へ戻る', sakes_path %>
