<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= @user.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label "名前" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "e-mailアドレス" %><br>
    <%= f.text_field :email %>
  </div>
  <!--<div class="field">-->
  <!--  <%= f.label "パスワード" %><br>-->
  <!--  <%= f.password_field :password %>-->
  <!--</div>-->
  <div class="actions">
    <%= f.submit "登録する"%>
  </div>
<% end %>
