<!DOCTYPE html>
<html>
<head>
  <title>sakacloud-酒蔵人-</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header class="navbar">
    <div class="container">
      <div id="logo">sakacloud-酒蔵人-</div>
      <ul class="header-right nav nav-pills">
        <li><%= link_to "トップ", root_path %></li>
        <li><%= link_to "ユーザ登録", new_user_path %></li>
        <li><%= link_to "ユーザ一覧", users_path %></li>
        <li><%= link_to "日本酒新規投稿", new_sake_path %></li>
        <li><%= link_to "日本酒一覧", sakes_path %></li>
        <li><%= link_to "口コミ登録", root_path %></li>
      </ul>
        
      </ul>
    </div>
  </header>
  <div class = "container">
  <%= yield %>
  </div>
<footer>
  <div class="panel panel-default">
    <div class="panel-footer footer">© 2016 sakacloud @AGL</div>
  </div>
</footer>



</body>
</html>

